.gallery__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5px;

  @include medium {
    padding: 0 10px;
  }
}

.gallery__photo {
  margin: 5px;
  cursor: pointer;
  width: calc(100% - 10px);
  height: auto;
  object-fit: contain;

  @include medium {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

.gallery__popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms, visibility 300ms;
  justify-content: center;
  align-items: center;
  z-index: 300;

  &.visible {
    visibility: visible;
  }

  &.show {
    opacity: 1;
  }
}

.gallery__popup_img {
  max-width: 100%;
  max-height: 100%;

  @include large {
    max-width: 80%;
    max-height: 80%;
  }
}

.gallery__popup_exit {
  position: absolute;
  right: 25px;
  top: 25px;
  display: block;
  color: #eee;
  font-size: 30px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 100ms, transform 150ms;
  text-align: center;
  z-index: 301;

  @include large {
    right: 50px;
    top: 50px;
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    opacity: 1;
  }
}

.gallery__popup_button {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  outline: none;
  top: calc(50% - 22px);
  color: #eee;
  font-size: 35px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 100ms, transform 150ms;
  background: rgba(0, 0, 0, 0.5);
  line-height: 45px;

  @include large {
    background: none;
    font-size: 50px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: calc(50% - 30px);
    opacity: 0.8;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }

  &.prev_button {
    left: 5px;

    @include large {
      left: 20px;
    }
  }

  &.next_button {
    right: 5px;

    @include large {
      right: 20px;
    }
  }
}
