@import '../css/menu.css';

$breakpoint--tiny: 360px;
$breakpoint--very-small: 480px;
$breakpoint--small: 600px;
$breakpoint--medium: 768px;
$breakpoint--large: 1024px;
$breakpoint--semi-large: 1200px;
$breakpoint--very-large: 1660px;

$gold: #99825d;
$navy-blue: #002349;

@mixin tiny {
  @media (min-width: #{$breakpoint--tiny}) {
    @content;
  }
}
@mixin very-small {
  @media (min-width: #{$breakpoint--very-small}) {
    @content;
  }
}
@mixin small {
  @media (min-width: #{$breakpoint--small}) {
    @content;
  }
}
@mixin medium {
  @media (min-width: #{$breakpoint--medium}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$breakpoint--large}) {
    @content;
  }
}
@mixin semi-large {
  @media (min-width: #{$breakpoint--semi-large}) {
    @content;
  }
}
@mixin very-large {
  @media (min-width: #{$breakpoint--very-large}) {
    @content;
  }
}

html {
  // overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;

  @include semi-large {
    font-size: 45px;
    line-height: 65px;
  }
}

strong {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 23px;
  text-align: center;
}

h5 {
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @include medium {
    font-size: 18px;
  }

  @include very-large {
    font-size: 20px;
    line-height: 24px;
  }
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $gold;
  }
}

.scroll__anchor {
  position: relative;
  top: -120px;
  display: block;
  visibility: hidden;
}

.text__highlighted {
  color: $navy-blue;
}

header {
  height: 93px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transition: background-color 0.4s;

  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.header__scrolled {
  background-color: $navy-blue;
  border-bottom: 1px solid $gold;
}

body {
  margin: 0;
  background-color: #f2f4f5;
}

.scroll__block {
  overflow: hidden;
}

.logo {
  height: 52px;
  fill: #fff;
  transition: fill 0.3s;
}

.logo__mobile {
  height: 40px;

  &:hover {
    .logo {
      fill: $gold;
    }
  }
}

.logo__link {
  display: block;
  margin-top: 7px;

  &:hover {
    .logo {
      fill: $gold;
    }
  }
}

.container {
  width: calc(100% - 10px);
  margin: auto;

  @include tiny {
    width: calc(100% - 20px);
  }

  @include very-small {
    width: 460px;
  }

  @include small {
    width: 580px;
  }

  @include medium {
    width: 740px;
  }

  @include large {
    width: 90%;
  }

  @include semi-large() {
    width: 100%;
    max-width: 1160px;
  }
}

.shadow_container {
  box-shadow: 0px 3px 3px 1px rgba(27, 27, 27, 0.17);
}

.text_bolded {
  font-weight: 800;
}

.navigation {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navigation__background {
  height: 100%;
  width: 100%;
  background-color: white;
}

.navigation__list-container {
  height: 100%;
}

.navigation__list {
  flex-direction: row;
  list-style: none;
  position: static;
  background: none;
  height: 100%;
  width: auto;
  min-width: auto;
  justify-content: flex-end;
  align-items: center;
  padding-left: 40px;
  margin: 0;
  display: none;

  @include large {
    display: flex;
  }
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40%;
  min-width: 280px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.4s;

  &.menu_opened {
    transform: translateX(0);
  }

  @include large {
    display: none;
  }
}

.mobile-navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.mobile-navigation__social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.mobile-navigation__social-item {
  img {
    width: 30px;
    height: auto;
    margin: 0 10px;
  }
}

.navigation__item {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 20px;
  margin-bottom: 0;

  a {
    color: #fff;
  }

  @include semi-large {
    margin-right: 35px;
    font-size: 14px;
  }

  @include very-large {
    margin-right: 55px;
  }
}

.navigation__social-icon {
  margin-right: 10px;
  position: relative;
  top: 2px;

  img {
    width: 25px;
    height: auto;

    &:hover {
      opacity: 0.8;
    }
  }
}

.mobile-navigation__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5%;

  @include large {
  }

  @include very-large {
  }
}

.navigation__hamburger {
  padding: 0;
  margin: 0;
  background: none;
  border: none;

  @include large {
    display: none;
  }
}

.title_container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}

.title {
  text-align: center;
}

.jumbotron__section {
  height: 100vh;
  margin-bottom: 50px;
  position: relative;

  @include very-large {
    margin-bottom: 100px;
  }
}

.jumbotron__slider-item {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

button {
  outline: none;
}

.jumbotron__arrow-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;

  @include medium {
    bottom: 40px;
  }
}

.jumbotron__arrow-logo {
  width: 50px;
  height: auto;

  @include medium {
    width: 92px;
  }
}

.jumbotron__arrow-link {
  display: block;
  position: relative;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover {
    .jumbotron__arrow-img {
      transform: translate(-50%, -5px);
    }
  }
}

.jumbotron__arrow-name {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  line-height: 28px;

  @include medium {
    font-size: 24px;
    margin-bottom: 15px;
  }

  @include large {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.jumbotron__arrow-text {
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;

  @include medium {
    font-size: 30px;
  }

  @include large {
    font-size: 42px;
  }
}

.jumbotron__arrow-img {
  width: 50px;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  transition: transform 0.3s;

  @include medium {
    bottom: 0;
  }
}

// descritpion__section

.description__section {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #f2f4f5;

  @include large {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.description__text_container {
  background-color: #fff;
  padding: 30px 20px 25px 20px;

  @include medium {
    padding: 40px 30px 25px 30px;
  }
}

.description__text {
  margin-bottom: 10px;
  line-height: 27px;
}

.description__list {
  // list-style: none;
  padding-top: 5px;
}

.description__list_item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;

  @include medium {
    font-size: 18px;
    line-height: 27px;
    margin-top: 7px;
  }

  @include very-large {
    font-size: 20px;
    line-height: 29px;
    margin-top: 9px;
  }
}

.image_map_container {
  display: block;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 80px;
  position: relative;
  overflow: visible;
}

.image_map__item {
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.5;
  }

  &.image_map__item__sold {
    fill: $navy-blue;
    opacity: 0.5;

    &:hover {
      opacity: 0.6;
    }
  }
}

.image_map {
  width: 100%;
  height: auto;
}

.image_map__photo {
  width: 100%;
  height: auto;
}

.image_map__cloud {
  padding: 10px 20px;
  background-color: $navy-blue;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  color: #eee;
  text-align: center;
  visibility: hidden;

  &.active {
    @include large {
      visibility: visible;
    }
  }
}

.main-table {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-collapse: collapse;
  margin-bottom: 80px;
  display: block;

  @include medium {
    display: table;
  }

  @include very-large {
    margin-bottom: 80px;
    font-size: 19px;
  }

  a {
    color: $gold;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $navy-blue;
    }
  }

  th {
    font-weight: 400;
    border-bottom: 2px solid black;
    padding: 12px 0;
    display: block;

    @include medium {
      color: #fff;
      display: table-cell;
      border: 1px solid #ddd;
      background-color: $navy-blue;
      border-bottom: 1px solid $gold;
    }
  }

  td {
    text-align: right;
    display: block;
    position: relative;
    padding: 5px 0;
    padding-left: 50%;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;

    @include tiny {
      padding-right: 10px;
    }

    @include medium {
      padding: 12px 10px;
      display: table-cell;
      border: 1px solid #ddd;
      text-align: center;
    }

    &:before {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;

      @include tiny {
        left: 10px;
      }
    }

    &:nth-of-type(1):before {
      content: 'Dom';

      @include medium {
        content: '';
      }
    }
    &:nth-of-type(2):before {
      content: 'Pow. domu';

      @include medium {
        content: '';
      }
    }
    &:nth-of-type(3):before {
      content: 'Pow. zabudowy';

      @include medium {
        content: '';
      }
    }
    &:nth-of-type(4):before {
      content: 'Pow. ogrodu';

      @include medium {
        content: '';
      }
    }
    &:nth-of-type(5):before {
      content: 'Status';

      @include medium {
        content: '';
      }
    }
    &:nth-of-type(6):before {
      content: 'Rzut';

      @include medium {
        content: '';
      }
    }

    &:first-child,
    &:last-child {
      font-weight: 400;
    }
  }

  tr {
    display: block;
    background-color: #fff;
    border-top: 1px solid black;

    @include medium {
      border-top: none;
    }

    &:nth-of-type(even) {
      background-color: #f2f2f2;
    }

    @include medium {
      display: table-row;
    }

    &:hover {
      background-color: rgba(0, 35, 73, 0.1);
    }

    &.main-table__highlighted {
      &:hover {
        background-color: rgba(0, 35, 73, 0.2);
      }
    }

    &.sold {
      background-color: rgba($color: $navy-blue, $alpha: 0.3);
    }
  }

  thead {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;

    @include medium {
      display: table-header-group;
      position: static;
    }
  }

  tbody {
    display: block;

    @include medium {
      display: table-row-group;
    }
  }
}

.gallery__section {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 50px;

  @include large {
    margin-bottom: 100px;
  }
}

.gallery__title {
  margin-bottom: 10px;
}

.gallery__subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.pano__section {
  margin-bottom: 50px;

  @include large {
    margin-bottom: 100px;
  }
}

.pano__container {
  height: 300px;

  @include medium {
    height: 400px;
  }

  @include large {
    height: 600px;
  }
}

.location__container {
  background: #fff;
  margin-top: 30px;
}

.googleMap {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;

  @include large {
    margin-bottom: 100px;
  }
}

.contact__container {
  background: url('../assets/malownicza-enklawa-wizualizacja-zewnetrzna-5.jpg');
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $navy-blue;
    opacity: 0.9;
    z-index: 1;
  }
}

.form__container {
  padding: 70px 0;
  position: relative;
  z-index: 2;
}

.contact_form__cell {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.contact_form__label {
  display: block;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 7px;
  font-size: 15px;
}

.contact_form__checkbox_label {
  display: inline;

  a {
    color: $gold;
  }
}

.contact_form__input {
  background: none;
  border: 1px solid #eee;
  width: 100%;
  height: 40px;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  font-weight: 400;
  font-size: 15px;
  outline: none;
  margin-bottom: 3px;

  &.error {
    color: red;
    border: 1px solid red;
  }

  &::placeholder {
    color: #eee;
    opacity: 0.2;
  }
}

.contact_form__textarea {
  background: none;
  border: 1px solid #eee;
  width: 100%;
  min-height: 200px;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  outline: none;
  resize: none;
  scrollbar-width: thin;

  &.error {
    color: red;
    border: 1px solid red;
  }

  &::placeholder {
    color: #eee;
    opacity: 0.2;
  }
}

.contact_form__button {
  width: 100%;
  max-width: 220px;
  margin: auto;
  display: block;
  background-color: rgba($color: #eee, $alpha: 0.2);
  border: 1px solid #eee;
  height: 60px;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba($color: $gold, $alpha: 0.6);
  }

  &:disabled {
    background-color: rgba($color: #eee, $alpha: 0.2);
    opacity: 0.5;
    cursor: wait;
  }
}

.contact_form__checkbox_container {
  margin-bottom: 30px;
  position: relative;
}

.contact_form__error_message {
  color: red;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  bottom: -20px;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

.contact_form__status_message {
  color: #eee;
  text-align: center;
  min-height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_info__section {
  padding: 30px 0;
  border-top: 1px solid $gold;

  @include large {
    padding: 70px 0;
  }
}

.contact_info__container {
  padding: 50px 5px;
  background: #fff;

  @include medium {
    padding: 50px 20px;
  }
}

.contact_info__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact_info__text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;

  @include medium {
    font-size: 20px;
  }
}

.footer {
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $navy-blue;
  border-top: 1px solid $gold;
}
// import

@import './gallery.scss';
